h1{
    border: solid green 2px;
    margin-right: 30%;
    margin-left: 30%;
}

body{
    background-color: grey;
}

div{
    border: solid black 1px;
    margin-right: 30%;
    margin-left: 30%;
    text-align: center;
    background-color:cornsilk
    
}

img{
    border: solid black 1px;
    margin-left: 10%;
    margin-right: 10%;
}

img.frontpic{
    border: solid black 1px;
    margin-left: 15%;
    margin-right: 15%;
}

h2{
    color: blue;
}